<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'links/bootstrap.min.css' %}">
    <script src="{% static 'links/jquery.min.js' %}"></script>
    <script src="{% static 'links/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'links/style.css' %}"><meta charset="UTF-8">
    <title>Error Occured</title>
</head>
<body>
Please Filled all the * data.
</body>
</html>